/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

*,*::before,*::after{box-sizing:border-box}body,h1,h2,h3,h4,p,figure,blockquote,dl,dd{margin:0}ul[role="list"],ol[role="list"]{list-style:none}html:focus-within{scroll-behavior:smooth}body{min-height:100vh;text-rendering:optimizeSpeed;line-height:1.5}a:not([class]){text-decoration-skip-ink:auto}img,picture{max-width:100%;display:block}input,button,textarea,select{font:inherit}@media(prefers-reduced-motion:reduce){html:focus-within{scroll-behavior:auto}*,*::before,*::after{animation-duration:.01ms !important;animation-iteration-count:1 !important;transition-duration:.01ms !important;scroll-behavior:auto !important}}
/*source: https://dev.to/hankchizljaw/a-modern-css-reset-6p3  and  https://cdn.jsdelivr.net/npm/modern-css-reset/dist/reset.min.css*/

body#loginBody {
    background: url('../images/login-background.jpg') no-repeat center center fixed;
    background-size: cover;
}
body {
    font-family: arial;
}
div.loginHeader {
    text-align: center;
    margin-bottom: 50px;
}
div.loginHeader h1 {
    display: fixed;
    background-color: #fff;
    background-image: linear-gradient(to top,   #f08239 50%, #502203 100%);
    background-size: 100%;
    cursor: vertical-text;
    text-decoration: none;
    font-size: 50px;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}
div.loginHeader p {
    display: inline-block;
    background-color: #fff;
    background-image: linear-gradient(to top,   #106ae0 0%, #1dfdea 100%);
    background-size: 100%;
    cursor: vertical-text;
    text-decoration: none;
    font-size: 50px;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    border-bottom: 3px solid #ee9c20;
    margin: 0px;
    width: 50%;
}
div.loginBody form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 500px;
    background: rgba(0, 0, 0, 0.8);
    padding: 50px;
    border: 2px solid #ee9c20;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}
div.loginInputsContainer {
    margin-top: 20px;
}
div.loginInputsContainer label{
    text-transform: uppercase;
    font-size: 15px;
    color: #0570fd;
}
div.loginInputsContainer ::placeholder {
    text-align: center;
    color: #fae2d2;
}
div.loginInputsContainer input {
    height: 25px;
    width: 100%;
    font-size: 15px;
    padding: 10px;
    text-align: center;
}
div.loginBody button {
    background: #ee9c20;
    border: 1px solid #83aff0;
    border-radius: 4px;
    margin-top: 25px;
    padding: 6px 20px;
    color: #fff;
}
div.loginBody button:hover {
    background: #1570f8;
    border: 1px solid #4589f0;
    border-radius: 4px;
    margin-top: 25px;
    padding: 6px 20px;
    transition: ease-in-out 5ms;
    transform: rotate(0.8deg);
    color: #fff;
}
button a {
    text-decoration: none;
    color: #f7531d;
}

/*Style for homepage.html*/
div.header {
    position: fixed;
    width: 100%;
    background: #145dfc;
    padding: 0px;
    text-align: right;
}
div.header a {
    font-size: 20px;
    color: #fc6f23;
    padding: 6px 11px;
    text-decoration: none;
}
div.header a:hover {
    font-size: 20px;
    color: #fff;
    border: 1px solid #ff4a18;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 4px;
}
div.banner {
    background: url('../images/banner.jpg') no-repeat center center fixed;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;
}
div.homepageContainer {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}
div.bannerHeader h1 {
    display: fixed;
    background-color: #fff;
    background-image: linear-gradient(to top,   #ff7a3d 50%, #ff0000 100%);
    background-size: 100%;
    cursor: vertical-text;
    text-decoration: none;
    font-size: 75px;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}
div.bannerHeader p {
    display: inline-block;
    background-color: #fff;
    background-image: linear-gradient(to top,   #0a6ad8 70%, #fd6f1d 30%);
    background-size: 100%;
    cursor: vertical-text;
    text-decoration: none;
    font-size: 40px;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    margin: 0px;
    width: auto;
    text-transform: uppercase;
}
p.bannerTagline {
    margin: 2px;
    font-size: 25px;
    color: #1565fa;
}
div.bannerIcons {
    margin-top: 100px;
    margin-bottom: 20px;
}
div.bannerIcons a {
    font-size: 30px;
    margin-left: 40px;
    padding: 7px 12px;
    background: rgba(250, 165, 86, 0.5);
    color: #ff4208;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: inline-block;
}
div.bannerIcons a:first-child {
    margin-left: 0px;
}
div.bannerIcons a:hover {
    color: #fff;
    background: rgba(22, 82, 245, 0.5);
    transform: rotate(-10deg);
    transition: .8s all;
}

div.homepageFeatures {
    display: flex;
    flex-direction: row;
    padding: 20px 0px;
}
div.homepageFeature {
    padding: 10px 20px;
    text-align: center;
    width: 33.33%;
}
div.homepageFeature:hover {
    border-left: 1px solid #ff7112;
    border-right: 1px solid #125dff;
    border-radius: 10px;
}
div.homepageFeature span.featureIcon {
    display: inline-block;
    height: 60px;
    width: 60px;
    font-size: 30px;
    background: #ff6b08;
    color: #fff;
    padding-top: 15px;
    border-radius: 50%;
    margin-bottom: 20px;
}
div.homepageFeature h3.featureTitle {
    margin-bottom: 20px;
}
div.homepageFeature p.featureDescription {
    color: #362f2f;
}
div.homepageNotified {
    background: #f8e9d4;
    padding: 50px 0px;
}
div.homepageContainer {
    display: relative;
    width: 100%;
    padding: 3px;
}
div.homepageNotifiedContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    text-align: center;
}
div.emailForm {
    width: 40%;
    text-align: center;
}
div.video {
    width: 60%;
    margin: 0 auto;
}
div.homepageNotified h3 {
    margin-bottom: 20px;
}
div.homepageNotified p {
    color: #848484;
    line-height: 150%;
    margin-bottom: 30px;
}
div.formContainer {
    width: 100%;
    position: relative;
}
div.formContainer input {
    width: 100%;
    padding: 15px 20px;
    border-radius: 15px;
    border: none;
}
div.formContainer input:focus {
    outline: none;
}
div.formContainer button {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    font-size: 22px;
    padding: 0px 10px;
    background: #f1620e;
    border: none;
    color: #fff;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.iframe {
    width: 80%;
    height: 100%;
}
div.socials {
    text-align: center;
    padding: 60px 20px;
}
h3.socialHeader {
    font-size: 18px;
}
p.socialText {
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 16px;
}
div.socialIconsContainer a {
    font-size: 20px;
    height: 40px;
    width: 40px;
    display: inline-block;
    background: rgb(0, 102, 255);
    color: #fff;
    border-radius: 50%;
    padding: 10px;
}
div.socialIconsContainer a:hover {
    font-size: 20px;
    height: 40px;
    width: 40px;
    display: inline-block;
    background: rgba(250, 94, 94, 0.5);
    color: #0066ff;
    border-radius: 50%;
    padding: 10px;
    border: 1px solid rgb(0, 81, 255);
    transition: .7s;
    transform: rotate(-15deg);
}
div.footer {
    background: #d2e9ff;
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;
}
div.footer a{
    color: #848484;
    margin-left: 30px;
    text-decoration: none;
}
div.footer a:hover {
    color: rgb(0, 81, 255);
    transition: 0.5s all;
    text-decoration: overline;
}

/*Dashboard style*/
#dashboardMainContainer {
    display: flex;
    flex-direction: row;
}
div.dashboard_sidebar {
    width: 20%;
    background: #23252a;
    height: 100vh;
}
div.dashboard_content_container {
    width: 80%;
    background: #f4f6f9;
}
h3.dashboard_logo {
    color: #fc6e35;
    font-size: 60px;
    text-align: center;
}
div.dashboard_sidebar_user {
    text-align: center;
    position: relative;
    padding-bottom: 20px;
    border-bottom: 1px solid #6e3c03;
}
div.dashboard_sidebar_user img {
    width: 80px;
    display: inline-block;
    border-radius: 50%;
    border: 2px solid #fc6e35;
    margin-right: 5px;
    vertical-align: middle;
}
div.dashboard_sidebar_user span {
    top: 20%;
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
    display: inline-block;
}
ul.dashboard_menu_lists {
    margin-top: 20px;
}
ul.dashboard_menu_lists li.liMainMenu {
    padding-top: 15px;
    text-transform: uppercase;
}
ul.dashboard_menu_lists li.liMainMenu a {
    text-decoration: none;
    color: #fff;
    height: auto;
    display: block;
    font-size: 14px;
    padding: 0px 15px;
    padding-bottom: 15px;
    padding-right: 0px;
}
ul.dashboard_menu_lists li.liMainMenu a i {
    font-size: 18px;
    width: 30px;
}
ul.dashboard_menu_lists li.menuActive{
    background: #fa6824;
    color: #fff;
}
ul.dashboard_menu_lists li:hover {
    background: #fa6824;
    color: #fff;
    transition: 0.3s all;
}
div.dashboard_topNav {
    background: #f8dfd7;
    padding: 22px;
    position: fixed;
    width: 80%;
}
div.dashboard_topNav a{
    color: #fa5311;
    font-size: 20px;
    text-decoration: none;
}
a#logoutBtn {
    float: right;
}
div.dashboard_content {
    padding: 50px 10px 10px 10px;
}
div.dashboard_content_main {
    height: 100%;
    background: #faf8f4;
    margin-top: 33px;
    width: 100%;
    border: 1px solid #ecc48c;
    border-radius: 4px;
    padding-top: 10px;
    padding-left: 29px;
}
div#errorMessage {
    background: #fff;
    text-align: center;
    color: red;
    font-size: 20px;
    padding: 11px;
}

form::after {
    content: '';
    clear: both;
    display: block;
}
form.appForm {
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid #f85616;
    border-radius: 5px;
    background: #dde7f9;
    color: #fb7042;
}
form label {
    font-weight: bold;
    text-transform: uppercase;
}
form input.appFormInput {
    width: 100%;
    height: 33px;
    border: 1px solid #e74708;
    border-radius: 5px;
}
div.appFormInputContainer {
    margin-bottom: 10px;
}
div#userAddFormContainer {
    padding-top: 20px;
}
button.appBtn {
    background: #ff5100;
    border: 1px solid #f26519;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
    float: right;
}
p.responseMessage {
    font-size: 20px;
    text-align: center;
    margin-top: 33px;
    background: rgba(1, 228, 31, 0.1);
    color: #f84904;
    padding: 20px;
}
p.responseMessage__error {
    background: rgb(249, 159, 159);
    color: red;
}
p.responseMessage__success {
    background: rgba(0, 120, 0, 0.1);
}

/* User Add Page */
div.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
div.column {
    width: 100%;
    padding: 0 10px;
    /*display: flex;
    flex-direction: column;
    flex: 1;
    flex-basis: 100%;*/
}
div.column-5 {
    width: 31.67%;
    padding-top: 10px;
}
div.column-7 {
    width: 68.33%;
    padding-top: 10px;
}

h1.section_header {
    font-size: 21px;
    color: #968282;
    border-bottom: 1px solid #f87b2d;
    padding-bottom: 11px;
    padding: 10px;
    border-left: 4px solid #f87b2d;
    margin-bottom: 20px;
    background: #fbe3dc;
}

table, th, td {
    border: 1px solid #ff6600;
    border-collapse: collapse;
    font-size: 13px;
}
table {
    width: 100%;
}
table th {
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    background: #dde7f9;
    color: #ff7332;
}
table td {
    font-size: 15px;
    text-align: center;
    padding: 0 2px 0 2px;
}
p.userCount {
    text-align: right;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fc521f;
}

a.subMenuLink {
    padding-left: 25px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    text-transform: none;
    font-size: 15px !important;
}
a.subMenuLink i {
    font-size: 16px !important;
}
ul.subMenus {
    background: #d2530a;
    display: none;
}
i.mainMenuIconArrow {
    float: right;
    font-size: 19px !important;
    margin-top: 2px;
}

h3.dashboard_logo {
    color: #fc6e35;
    font-size: 60px;
    text-align: center;
    font-weight: bold;
}

.subMenuActive {
    font-weight: bold;
    border-top: 4px solid #0548f3;
    border-bottom: 1px solid #0548f3;
    background: #0548f3;
}

.productTextAreaInput {
    width: 100%;
    height: 75px;
    border-radius: 5px;
    border-color: #fa5e25;
}

.productImages {
    width: 50px;
    height: 50px;
}